<div class="chatbot">
  <div class="chatbot-header">
    <h3>ChatBot</h3>
    <p>¡Estoy aquí para ayudarte!</p>
  </div>
  
  <!-- Contenedor de los mensajes -->
  <div class="chatbot-messages" #messageContainer>
    <!-- Iteración sobre los mensajes almacenados -->
    <div *ngFor="let message of messages">
      
      <!-- Mensaje del usuario -->
      <div class="user-message" *ngIf="message.query">
        <div class="message-content">
          <i class="fas fa-user"></i> <!-- Ícono de usuario -->
          <span>{{ message.query }}</span> <!-- Mensaje enviado por el usuario -->
        </div>
      </div>

      <!-- Mensaje del bot -->
      <div class="bot-message" *ngIf="message.response">
        <div class="message-content">
          <i class="fas fa-robot"></i> <!-- Ícono del bot -->
          <span>{{ message.response }}</span> <!-- Respuesta del bot -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Campo de entrada para nuevos mensajes -->
  <div class="chatbot-input">
    <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Escribe un mensaje..." />
    <button (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>
